/* About Section */

#about-section {

    background-color: rgb(42, 245, 225);
    padding-left: 2%;
    padding-right: 2%;
    height: 30vh;
    padding-top: 1.5em;
    margin: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#about-section p {
    max-width: 60%;
}

#about-section h2 {
    font-weight: 300;
  
}



.text-about-nina-ansari img {

    width: auto;
    height: 140%;
  
}

.text-about-nina-ansari {

    display: flex;
    height: 40%;
    margin-left: 10%;
}

.text-about-nina-ansari a {

   width: fit-content;
   display: block;
}