
/* footer */

footer {

    background-color: rgb(25, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;

}


#stickyfooter {

    width: 100%;

}

footer ul li {

    color: #fff;
    display: flex;
    display: inline-block;
    text-decoration: none;
    padding: .5em;
    margin: .5em;
    letter-spacing: .2em;
    font-weight: 300;

}
/* hover footer */

#sticky-footer ul li:hover {

    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* Instagram Logo */

#hover-effect::before {
	content:"\f08c";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 10pt;
}

#hover-effect:hover::before{
	content:"\f08c";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 10pt;
}