/* Header */

header {

    width: 100%;
    height: 15vh;
    background-color: rgb(25, 180, 180);
    position: fixed;

}

#header-title {

    width: 70%;

}

/* header nav bar */


.header-content nav ul {

    list-style: none;
    display: flex;
    justify-content: space-around;
 

}

.header-content {

    display: flex;
    align-items: center;
    height: 100%;

}

.header-content nav {

    width: 30%;
    color: aliceblue;
    font-size: 1.7em;
    letter-spacing: .08em;
    margin-right: 7%;


}

/* links header nav */

a:link,
a:visited {

    text-decoration: none;

}


.header-content a {

    display: flex;
    justify-content: space-between;
    color: aliceblue;

}


/* fonts */

h1 {

    list-style: none;
    text-decoration: none;
    color: aliceblue;
    padding-left: 2.7%;   
    letter-spacing: .03em;
    font-size: 4.0em;
    text-transform: uppercase;
    margin-left: 6%;
    font-weight: 300;

}

/* Logo header */

/* h1::before {
    font-family: "FontAwesome";
    content: "\f135";
    font-size: 25pt;
} */