@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto:wght@100;300;500;700&display=swap');

/* CSS Reset */
*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {

    font-size: 62.5%;
    height: 100%;
    font-family: Roboto;

}

body {

    display: flex;
    flex-direction: column;
    letter-spacing: .1em;

}

main {

    margin-top: 15vh;

}



h2 {

    list-style: none;
    text-decoration: none;
    color: rgba(56, 70, 83, 0.5);
    font-size: 2em;


}

h3 {

    list-style: none;
    text-decoration: none;
    color:rgba(56, 70, 83, 0.5);
    font-size: 1.3em;

}

p {

    color: rgba(56, 70, 83, 0.5);
    font-size: 1.7em;
    font-weight: 300;
    width: 90%;

}

/* ---Helper--- */

.white-button-frame {

   
   background-color:  rgb(25, 180, 180);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    color: white;

    width: 40px;
    height: 20px;
    border-radius: 25px;
    padding: .4em;

   
}

.white-button-frame {


}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


         
.btn-grad {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




/* Mediaqueries */

/* * desktop */
@media screen and (min-width: 1280px) {
    #desktop {
        display: block;
    }

    #small-desktop,
    #tablet,
    #smartphone {
        display: none;
    }
}

/* small desktop (769px - 1279px) */
@media screen and (min-width: 769px) and (max-width: 1279px) {
    #small-desktop {
        display: block;
    }

    #desktop,
    #tablet,
    #smartphone {
        display: none;
    }
}

/* tablet (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #tablet {
        display: block;
    }

    #desktop,
    #small-desktop,
    #smartphone {
        display: none;
    }

}



/* smartphone (0px - 480px) */
@media screen and (max-width: 480px) {
    #smartphone {
        display: block;
    }

    #desktop,
    #small-desktop,
    #tablet {
        display: none;
    }



    .header-content a {
        font-size: .7em;
        margin-left: 10%;

    }


    .header-content {

        flex-direction: column;

    }

    .header-content nav {

        width: 100%;

    }



    h1 {
        font-size: 3em;
        margin-left: 15%;
        letter-spacing: 1em;

    }

}