#work-section {

    background-color: rgb(105, 253, 236);
    padding-left: 2%;
    height: 30vh;
    padding-top: .5em;

    margin: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

#work-section h2 {
    font-weight: 300;
}

#work-section h3 {
    font-weight: 300;
}

.work-container div {
    object-fit: cover;
    height: 60%;
}

.work-container {

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

img {   
    height: 100%;
}

#work-section {

    display: flex;

}

.nav-dropdown-menu-work,
.nav-dropdown-menu-work li {
    display: none;
  
}

.dropdown-menu {
    position: relative;

}

.dropdown-menu:hover ul,
.dropdown-menu:hover li {


    display: flex;
    flex-direction: column;

}

.nav-dropdown-menu-work {
position: absolute;
top: 100%;
left: 0;
}

nav li {
   
    padding: 5px 10px;
}
