#work-section {

    background-color: rgb(105, 253, 236);
    padding-left: 2%;
    height: 81vh;

    display: flex;
    margin: .5em;

    justify-content: space-around;
    align-items: center;

}

.work-container a {
    font-size: 10pt;
    margin-top: 3%;
}

.work-container div {
    object-fit: cover;
    height: 80%;
   
}


.work-container {

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    object-fit: cover;
    height: 40%;
    color: rgb(93, 97, 130);
    

}

img {
    height: 100%;
}

.work-container h2,
h3 {

    color: rgb(93, 97, 130);
    width: 55%;
    font-weight: 300;

}

.work-container h3 {

    color: rgb(93, 97, 130);
    width: 58%;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 3%;

}


