#about-section {

    background-color: rgb(42, 245, 225);
    padding-left: 2%;
    height: 30vh;
    padding-top: 16.5em;

    display: flex;
    margin: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.about-section {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}




.about-img-container {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

