/* contatct section */
#contact-section {

    background-color: rgb(142, 252, 241);
    height: 30vh;
    padding-top: .5em;
    margin: .9em;

    display: flex;
    align-items: center;

}


#contact-section>div:first-child {

    margin-left: 8vh;

}

/* links */

#contact-section a {

    margin-right: 28vh;

}


a {
    color: rgb(93, 97, 130);

}

/* hover contact section */
#contact-section:hover {

    box-shadow: 3px 3px 3px 3px rgb(215, 219, 218);
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #2998f4;
}