@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto:wght@100;300;500;700&display=swap');

/* CSS Reset */
*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* html */

html {

    font-size: 62.5%;
    height: 100%;
    font-family: Roboto;

}

/* body */

body {

    display: flex;
    flex-direction: column;
    letter-spacing: .1em;

}

/* main */

main {

    margin-top: 15vh;

}

/* fonts color */

h2, h3, p {

    color: rgb(93, 97, 130)
}


/* ---Helper--- */

.white-button-frame {

    background-color: rgb(25, 180, 180);
    margin: 33px;
    padding: 15px 45px;
    text-align: center;
    color: white;
    width: 40px;
    height: 20px;
    border-radius: 25px;
    padding: .4em;
    

}

