#work-section {

    background-color: rgb(105, 253, 236);
    height: 30vh;
    padding-top: .5em;
    margin: .9em;
    display: flex;
    align-items: center;

}

#work-section>div:first-child {

    margin-left: 8vh;

}

#work-section:hover {
    
    box-shadow: 3px 3px 3px 3px rgb(215, 219, 218); 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #2998f4;
}



.work-container div {
    
    object-fit: cover;
    height: 50%;
   
}


.work-container {

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15%;

}

img {   
    height: 100%;
}


