#work-section {

    background-color: rgb(105, 253, 236);
   
    height: 30vh;
    padding-top: .5em;
    margin: .9em;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.work-container div {
    object-fit: cover;
    height: 50%;
}



.work-container {

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

img {   
    height: 100%;
}

.work-container h2, h3, a {
    font-weight: 800;
    font-size: 1.5em;
}
